<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="http://hopsoft.github.com/public/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen">
    <link href="http://hopsoft.github.com/public/stylesheets/font-awesome.css" type="text/css" rel="stylesheet" media="screen">
    <link href="http://hopsoft.github.com/public/stylesheets/syntax.css" type="text/css" rel="stylesheet" media="screen">
    <link href="http://hopsoft.github.com/public/stylesheets/main.css" type="text/css" rel="stylesheet" media="screen">
    <link href="stylesheets/main.css" type="text/css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://hopsoft.github.com/">
            Hopsoft
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          {{ content }}

          <div class="row">
            <div id="footer" class="span12">
              Copyright &copy; 2008-2012 Hopsoft LLC and the authors
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="http://hopsoft.github.com/public/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://hopsoft.github.com/public/javascripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://hopsoft.github.com/public/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://hopsoft.github.com/public/javascripts/main.js"></script>
  </body>
</html>
